@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: "Poppins", sans-serif;
  background: url(bg.png);
}


.navbar {
  position: fixed;
  top: 20px;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 3rem;
}

.menu {
  width: 100%;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.logo {
  text-transform: uppercase;
  display: flex;
  justify-content: space-around; 
  align-items: center;
  animation: hide 0.2s forwards ease;
}

.logo img{
  height: 40px;
  width: auto;
  stroke: 10;
  margin-right: 10px;
}

.logo {
  opacity: 0;
}

.kanan{
  display: flex;
  align-items: center;
  justify-content: center;
}

.kanan h3{
  font-size: 20px;
  text-transform: uppercase;
  opacity: 1;
  animation: appear 0.5s forwards ease
}

.hamburger-menu {
  margin-left: 10px;
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
}

.bar {
  width: 1.2rem;
  height: 3px;
  border-radius: 2px;
  background-color: #000000;
  transition: 0.5s;
  position: relative;
}

.bar:before,
.bar:after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: rgb(0, 0, 0);
  transition: 0.3s;
  border-radius: 2px;
}

.bar:before {
  transform: translateY(-9px);
  top: 3px;
}

.bar:after {
  transform: translateY(9px);
  top: -3px;
}

.navigasi.active .bar {
  transform: rotate(360deg);
  background-color: transparent;
}

.navigasi.active .bar:before {
  transform: translateY(0) rotate(45deg);
  top: 0;
}

.navigasi.active .bar:after {
  transform: translateY(0) rotate(-45deg);
  top: 0;
}

.navigasi.active .main {
  animation: main-animation 0.5s ease;
  cursor: pointer;
  transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
}

.navigasi.active .logo{
  opacity: 1;
  animation: appear 0.5s forwards ease
}

.navigasi.active .kanan h3{
  opacity: 0;
  animation: hide 0.3s forwards ease;
}

@keyframes main-animation {
  from {
    transform: translate(0);
  }

  to {
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
  }
}

.links {
  position: fixed;
  right: -500px;
  width: 350px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.532);
  transition: .5s;
  z-index: 1;
}

.links ul{
  margin-top: 100px;
}

.profile{
  display: flex;
  text-align: center;
  border-bottom: 2pt solid #252525;
  padding-bottom: 20px;
}

 .profile img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-left: 30px;
  margin-right: 10px;
}

.profile h1{
  text-transform: uppercase;
  color: white;
  width: 60%;
  display: flex;
  align-items: center;
  font-size: 15px;
}

.links ul li{
  color: #fff;
  text-align: right;
  text-transform: uppercase;
  list-style-type: none;
  font-size: 1.0em;
  padding: 20px 30px;
  border-bottom: 1pt solid #252525;
}

.links a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.links a:hover {
  color: rgb(117, 192, 25);
}

.navigasi.active .links  {
  right: 0;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes hide {
  from {
    opacity: 1;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    transform: translateY(10px);
  }
}

