 .main-container{
    padding-top: 80px;
    width: 100%;
    height: auto;
    padding-left: 50px;
    padding-right: 50px;
}

.card {
    border-radius:10px;
}

.card img{
    border-radius:15px;
    padding: 5px;
}

p.card-text{}

.kankir{
    display :flex;
    justify-content: space-between;
}

.row{
    width: 100%;
    padding-right: 20px;
}

