

.card{
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
    background-color: white;
    border: 2px solid rgb(209, 209, 209);
    width : 60rem;
    transition: 0.3s;
    border-radius: 15px;
    margin-bottom: 20px;
}

.list{
    margin-top:100px;
}

.main-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

h3{
    text-align: center;
    margin-top: 50px;
    color : red;
    font-weight: 500;
}

a{
    text-decoration: none;
    color: white;
    text-decoration: underline;
}
